name: ci-for-demo

on:
  push:
    branches:
      - "main"
      - "feature/PPAC-89"
  release:
    types:
      - "published"

jobs:
  trigger-workflow:
    uses: bimitshah/workflows/.github/workflows/test.yaml@main
  print:
    runs-on: ubuntu-latest
    needs: trigger-workflow
    steps:
      - id: print
        run: |
          echo ${{ needs.trigger-workflow.outputs.image }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            name/app
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - id: print2
        run: |
          echo ${{ needs.trigger-workflow.outputs.image }}
          echo ${{ steps.meta.outputs.tags }}
          echo ${{ fromJson(steps.meta.outputs.tags) }}
