name: ci-for-demo

on:
  push:
    branches:
      - "main"
      - "feature/PPAC-89"

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            name=prefix,enable=true
          flavor: |
            suffix=_${{ github.run_number }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
      - id: print
        env:
          BUILD_TAG: ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
        run: |
          echo ${{ steps.meta.outputs.tags }}
          echo ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
          echo ${BUILD_ARG}
