name: ci-for-demo

on:
  push:
    branches:
      - "main"

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            name=prefix
          flavor: |
            suffix=_${{ github.run_number }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
      - id: print
        run: |
          echo ${{ steps.meta.outputs.tags }}
