name: ci-for-demo

on:
  push:
    branches:
      - "main"
      - "feature/PPAC-89"
  release:
    types:
      - "published"
  workflow_dispatch:
    inputs:
      environment:
        type: environment

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - id: print
        run: |
          echo ${{ github.events.inputs.environment || 'new dev'}}
