name: ci-for-demo

on:
  push:
    branches:
      - "main"
      - "feature/PPAC-89"
  release:
    types:
      - "published"

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm-slim
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        env:
          TEST: ${{ secrets.TEST }}
        with:
          images: |
            name=prefix,enable=true
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch,suffix=_${{ github.run_number }},value=${{ secrets.TEST }},enable=${{ env.TEST != '' }}
            type=ref,event=branch,suffix=_${{ github.run_number }},enable=${{ env.TEST == '' }}
            type=semver,pattern={{raw}}
      - id: print
        env:
          BUILD_TAG: ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
          TEST: ${{ secrets.TEST }}
        run: |
          echo ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
          echo ${BUILD_ARG}
