name: ci-for-demo

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: bimitshah/workflows/java-compile@main
      - uses: bimitshah/workflows/docker-build@main
      - name: print
        run: |
          echo "normal step executed"
